<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
    <title>Delete Account</title>
    <link rel="icon" type="image/x-icon" href="/images/beploit.png">
</head>
<body>
    <div th:insert="navbar.html" th:with="user=${user}"></div>
    <div class="body-container">
        <div class="form">
            <h2>Delete Account</h2>
            <h4>Please verify password before deleting.</h4>
            <form th:action="'/delete-verify?id=' + ${account.accountId}" method="post" th:object="${account}">
                <p th:if="${verifyError != null}" th:text="${verifyError}"></p>
                <div class="user-box">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <p><a href="/forgot-password">Forgot Password</a></p>
                <button>Delete</button>
            </form>
        </div>
    </div>
</body>
</html>