<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
    <title>Sign in</title>
    <link rel="icon" type="image/x-icon" href="/images/beploit.png">
</head>
<body>
    <div th:insert="navbar.html"></div>
    <div class="body-container">
        <div class="form">
            <h2>Login</h2>
            <form action="/login" method="post" th:object="${account}">
                <div class="user-box">
                    <input type="text" name="email" required>
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <p>Don't have an account? <a href="/register">Register</a></p>
                <button>Login</button>
            </form>
        </div>
    </div>
</body>
</html>